<div class="services-page">
  <div class="main">
    <div class="page-title dark-background">
      <div class="container position-relative">
        <h1>{{ pageTitle }}</h1>
        <p>{{ pageSubtitle }}</p>
        <nav class="breadcrumbs">
          <ol>
            <li *ngFor="let breadcrumb of breadcrumbs">
              <a *ngIf="!breadcrumb.current" [href]="breadcrumb.link">{{ breadcrumb.name }}</a>
              <span *ngIf="breadcrumb.current">{{ breadcrumb.name }}</span>
            </li>
          </ol>
        </nav>
      </div>
    </div>

    <section id="featured-services" class="featured-services section">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-3 col-md-6" *ngFor="let service of featuredServices">
            <div [ngClass]="'service-item position-relative ' + service.styleClass">
              <div class="icon">
                <i [class]="service.icon"></i>
              </div>
              <a [href]="service.link" class="stretched-link">
                <h3>{{ service.title }}</h3>
              </a>
              <p>{{ service.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="services" class="services section">
      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row gy-4">
          <div class="col-lg-6" *ngFor="let service of servicesWithImages" data-aos="zoom-in" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="img">
                <img [src]="service.image" class="img-fluid" [alt]="service.title">
              </div>
              <div class="details">
                <a [href]="service.link" class="stretched-link">
                  <h3>{{ service.title }}</h3>
                </a>
                <p>{{ service.description }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="pricing" class="pricing section">
      <div class="container section-title">
        <h2>Pricing</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
      </div>

      <div class="container">
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let plan of pricingPlans">
              <div class="pricing-item">
                <div class="image-container position-relative">
                  <img class="img-fluid rounded-top" [src]="plan.image" [alt]="plan.title">
                  <!-- Sobreposição escura -->
                  <div class="image-overlay-dark"></div>
                  <div class="image-overlay">
                    <h3 class="image-title">{{ plan.title }}</h3>
                    <h4 class="image-price">$ {{ plan.price }} {{ plan.period }}</h4>
                  </div>
                </div>
                <div class="pricing-info text-center">
                  <ul class="features-list">
                    <li *ngFor="let feature of plan.features">
                      <i [class]="feature.available ? 'bi bi-check' : 'bi bi-x'"></i>
                      <span>{{ feature.text }}</span>
                    </li>
                  </ul>
                  <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>
                </div>
              </div>
            </div>
          </div>
          <!-- Paginação do Swiper -->
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </section>
  </div>
</div>
