<div class="contact-page">
  <div class="main">
    <div class="page-title dark-background">
      <div class="container position-relative">
        <h1>{{ pageTitle }}</h1>
        <p>{{ pageDescription }}</p>
        <nav class="breadcrumbs">
          <ol>
            <li><a [routerLink]="breadcrumbs[0].link">{{ breadcrumbs[0].label }}</a></li>
            <li class="current">{{ breadcrumbs[1].label }}</li>
          </ol>
        </nav>
      </div>
    </div>

    <section id="contact" class="contact section">
      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row gy-4">
          <div class="col-lg-6">
            <div class="row gy-4">
              <div *ngFor="let info of contactInfo"
                   class="col-md-6"
                   [ngClass]="{ 'col-lg-12': info.fullWidth }">
                <div class="info-item d-flex flex-column justify-content-center align-items-center"
                     [attr.data-aos]="info.aos"
                     [attr.data-aos-delay]="info.delay">
                  <i [class]="info.icon"></i>
                  <h3>{{ info.title }}</h3>
                  <p>{{ info.description }}</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <form [action]="formAction"
                  method="post"
                  class="php-email-form"
                  data-aos="fade-up"
                  data-aos-delay="500">
              <div class="row gy-4">
                <div *ngFor="let field of formFields" class="col-md-6" [ngClass]="field.class">
                  <input *ngIf="field.type !== 'textarea'"
                         [type]="field.type"
                         [name]="field.name"
                         class="form-control"
                         [placeholder]="field.placeholder"
                         [required]="field.required" />
                  <textarea *ngIf="field.type === 'textarea'"
                            [name]="field.name"
                            class="form-control"
                            [placeholder]="field.placeholder"
                            [rows]="field.rows"
                            [required]="field.required"></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                  <button type="submit">{{ submitButtonLabel }}</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="mt-5" data-aos="fade-up" data-aos-delay="200">
        <iframe style="border:0; width: 100%; height: 370px;"
                [src]="mapUrl"
                frameborder="0"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </section>
  </div>
</div>
